<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sdb.buzzfeed.mapper.OutboxMapper">
    <select id="getContent" resultType="org.sdb.buzzfeed.entity.Content">
        SELECT item_id,
               creator_id,
               publish_time
        FROM item_info
        WHERE creator_id in
        <foreach collection="influencer" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by publish_time desc
        limit #{num}
    </select>

</mapper>
